body#RIZKYWEBID #layanan ul#tab-layanan {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 0;
	border-bottom: none
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur1-layanan-tab {
	border-radius: 0;
	background: #8f9fac;
	border: 1px solid #8f9fac;
	border-bottom: 1px solid #8f9fac;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur1-layanan-tab:hover {
	border-radius: 0;
	background: #8f9fac;
	border: 1px solid #8f9fac;
	border-bottom: 1px solid #8f9fac;
	color: #FFF;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur1-layanan-tab:focus {
	border-radius: 0;
	background: #8f9fac;
	border: 1px solid #8f9fac;
	border-bottom: 1px solid #8f9fac;
	color: #FFF;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur2-layanan-tab {
	border-radius: 0;
	border: 1px solid #E6E5EA;
	border-bottom: 1px solid #F1F1F1;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background: #8F9FAC
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur2-layanan-tab:hover {
	border-radius: 0;
	background: #F1F1F1;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur2-layanan-tab:focus {
	border-radius: 0;
	border: 1px solid #AE212A;
	color: #FFF;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur3-layanan-tab {
	border-radius: 0;
	border: 1px solid #E6E5EA;
	border-bottom: 1px solid #F1F1F1;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background: #8F9FAC
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur3-layanan-tab:hover {
	border-radius: 0;
	background: #F1F1F1;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li a#fitur3-layanan-tab:focus {
	border-radius: 0;
	border: 1px solid #AE212A;
	color: #FFF;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur1-layanan-tab {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #DF0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur1-layanan-tab:focus {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #DF0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur1-layanan-tab:hover {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #DF0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur2-layanan-tab {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur2-layanan-tab:focus {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur2-layanan-tab:hover {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur3-layanan-tab {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur3-layanan-tab:focus {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan ul#tab-layanan li.active a#fitur3-layanan-tab:hover {
	background: #F1F1F1;
	border-radius: 0;
	border: 1px solid #F1F1F1;
	color: #df0000;
	font-weight: 700
}

body#RIZKYWEBID #layanan #tab-layanan-content.tab-content {
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 5px;
	background: 0 0;
	margin-bottom: 15px
}

body#RIZKYWEBID #layanan #tab-layanan-content.tab-content .tab-pane {
	padding-top: 15px
}

body#RIZKYWEBID #layanan #tab-layanan-content.tab-content #fitur1-layanan {
	background: #F1F1F1
}

body#RIZKYWEBID #layanan #tab-layanan-content.tab-content #fitur2-layanan {
	background: #F1F1F1
}

body#RIZKYWEBID #layanan #tab-layanan-content.tab-content #fitur3-layanan {
	background: #F1F1F1
}

body#RIZKYWEBID #welcome.hotspot #perface-bottom-inner #layanan .layanan-list {
	padding: 0 2%
}

body#RIZKYWEBID #welcome.hotspot #perface-bottom-inner #layanan .layanan-list .layanan-item .layanan-banner .btn-buy {
	font-weight: 700;
	margin-left: 8px;
	margin-right: 13%;
	margin-top: -32px;
	padding: 3px 20px;
	position: relative
}